#body {
    background-color: rebeccapurple;
}

#navbar {
    background-color: white;
    margin-left: auto;
}

#signup-form {
background-color: white;
}

.nav-links {
    text-align: right;
}

#social-image {
    width: 30px

}
#social a {
    text-decoration: none;
}
